@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.sub-head{
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/about.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
    height: 100px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 12px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: orangered;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: gray;
    font-size: 14px;
    font-weight: 350;
    line-height: 22px;
    padding: 10px;
}

.row{ 
    margin: 3%;
    display: flex;
    justify-content: space-between;
}

.about-me{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.sub-head-2{
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/produk.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.nav-product{
    justify-content: space-between;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/produk.jpg);
}

.nav-col{
    text-align: center;
    
}

.nav-product ul li {
    list-style: none;
    display: inline-block;
    padding: 12px 10px;
    position: relative;
}

.nav-product ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.row{ 
    margin: 3%;
    display: flex;
    justify-content: space-between;
}
.row2{
    margin: 3%;
    display: flex;
    justify-content: space-between;
}

.product{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.product-col{
    flex-basis: 20%;
    background: #fff3f3;
    border-radius: 5px;
    margin-bottom: 5%;
    padding: 12px 13px;
    box-sizing: border-box;
}

.product-col img{
    width: 300px;
    height: 450px;
    border: 2px solid rosybrown;
    border-radius: 5px;
}

.product-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.product-col img{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media screen and (max-width: 700px){
    .row{
        flex-direction: column;
    }
    .product-col{
        align-self: center;
    }
    .row2{
        display: none;
    }
}

.foot{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.foot h4{
    margin-bottom: 10x;
    margin-top: 20px;
    font-weight: 600;
}

.icon .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}